In [1]:
def func1():
    print('BlockDMask')
#함수호출
func1()
func1()

BlockDMask
BlockDMask

In [2]:
def func2(a, b):
    print(f'{a} 곱하기 {b} = {a * b}')

# 함수호출
func2(1,2)

1 곱하기 2 = 2

In [3]:
def func3():
    return "abcdefg"

a = func3()
print(a + "GG")

abcdefgGG

In [4]:
def func4(a, b):
    return a * b

c = func4(3,9)
print(c)

27

In [5]:
# for a in range(2, 10):
#     for i in range(1, 10):
#         print(f"{a}x{i} = {a*i}")

In [6]:
def gugudan(a):
        for i in range(1, 10):
            print(f"{a}x{i} = {a*i}")
print(gugudan(6))

6x1 = 6
6x2 = 12
6x3 = 18
6x4 = 24
6x5 = 30
6x6 = 36
6x7 = 42
6x8 = 48
6x9 = 54
None

In [7]:
num = 1
if num % 2 == 0:
  is_even = True
else:
  is_even = False
print(is_even)
  
num = 4
if num % 2 == 0:
  is_even = True
else:
  is_even = False
print(is_even)

False
True

In [8]:
def odd(num):
    if num % 2 == 0:
        return True
    else:
        return False
print(odd(4))

True

In [9]:
def sum(*args):
  result = 0
  for i in args:
    result = result + i
  return result

In [10]:
print(sum(1,2,3,4,5,6,7))

28

In [11]:
def next_values(num):
  return num, num + 1, num + 2
  
a, b, c = next_values(2)
print(a, b, c)

2 3 4

In [12]:
v = list(range(10))
print(v)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [13]:
[i for i in v]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [14]:
print("".join(str(i) for i in v))

0123456789

In [15]:
v = [list(range(10)), [10,11,12]]
print(v)

[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9], [10, 11, 12]]

In [16]:
[j for i in v for j in i]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [17]:
v = 3
if v < 5 : print(0)
print(0 if v < 5 else 1)

0
0

In [18]:
v = 6
if v > 5 : print(1)
print(1 if v > 5 else 0)

1
1

In [19]:
v = 11
print( 0 if v < 5 else 1 if v < 10 else 2)

2

In [20]:
v = list(range(10))
print(v)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [21]:
[i for i in v if i ==6]

[6]

In [22]:
for i in v:
    if i == 6:
        print(i)
    else:
        print("0")

[i if i == 6 else "0" for i in v]

0
0
0
0
0
0
6
0
0
0

['0', '0', '0', '0', '0', '0', 6, '0', '0', '0']

In [23]:
lista = []
for i in range(10):
    lista.append(i)
print(lista)
listb = [i for i in range(10)]
print(listb)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [24]:
lista = []
for i in range(4):
    for j in range(4):
        lista.append(j)
print(lista)
lista = [j for i in range(4) for j in range(4)]
print(lista)

[0, 1, 2, 3, 0, 1, 2, 3, 0, 1, 2, 3, 0, 1, 2, 3]
[0, 1, 2, 3, 0, 1, 2, 3, 0, 1, 2, 3, 0, 1, 2, 3]

In [25]:
inta = 2
if inta > 3:
    print("over")
else:
    print("under")
print("over" if inta > 3 else "same" if inta==2 else "under")

under
same

In [26]:
lista = list(range(10))
listb = []
for i in lista:
    if i > 5:
        listb.append(i)
print(listb)
listb = [i for i in lista if i > 5]
print(listb)

[6, 7, 8, 9]
[6, 7, 8, 9]

In [27]:
from sklearn.utils import resample
import pandas as pd

def downSampled(df):
    df1 = df.copy()
    lista = list(df.columns)
    
    for col in lista:
        unique_values = df[col].unique()
        for val in unique_values:
            subset = df1[df1[col] == val]
            n_samples = len(subset)
            smallest_unique_val = min(unique_values)
            
            if val != smallest_unique_val:
                n_samples = min(n_samples, len(df1[df1[col] == smallest_unique_val]))
            
            downsampled = resample(subset, replace=False, n_samples=n_samples, random_state=2020)
            df1 = df1[df1[col] != val]
            df1 = pd.concat([df1, downsampled])

    return df1

In [28]:
df = pd.read_csv('https://bit.ly/ds-house-price')
df

     지역명               규모구분    연도   월 분양가격(㎡)
0     서울                 전체  2015  10    5841
1     서울         전용면적 60㎡이하  2015  10    5652
2     서울   전용면적 60㎡초과 85㎡이하  2015  10    5882
3     서울  전용면적 85㎡초과 102㎡이하  2015  10    5721
4     서울        전용면적 102㎡초과  2015  10    5879
...   ..                ...   ...  ..     ...
4500  제주                 전체  2020   2    3955
4501  제주         전용면적 60㎡이하  2020   2    4039
4502  제주   전용면적 60㎡초과 85㎡이하  2020   2    3962
4503  제주  전용면적 85㎡초과 102㎡이하  2020   2     NaN
4504  제주        전용면적 102㎡초과  2020   2    3601

[4505 rows x 5 columns]

In [30]:
num_df = df.select_dtypes(exclude='object')
downSampled(num_df)

        연도   월
1055  2016  10
4106  2019  10
1104  2016  10
2112  2017  10
47    2015  10
...    ...  ..
3015  2018   9
2022  2017   9
4017  2019   9
955   2016   9
992   2016   9

[1361 rows x 2 columns]