In [3]:
import pandas as pd
from pandas import DataFrame
from pandas import read_csv, pivot_table
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [4]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')
submission = pd.read_csv('submission.csv')
print(train.shape, test.shape, submission.shape)

(2478, 5) (1240, 4) (1240, 2)

In [9]:
print(train.head(3))
# print(test.head(3))
# print(submission.head(3))

           ID        first_party                    second_party  \
0  TRAIN_0000  Phil A. St. Amant              Herman A. Thompson
1  TRAIN_0001     Stephen Duncan                  Lawrence Owens
2  TRAIN_0002  Billy Joe Magwood  Tony Patterson, Warden, et al.

                                               facts  first_party_winner
0  On June 27, 1962, Phil St. Amant, a candidate ...                   1
1  Ramon Nelson was riding his bike when he suffe...                   0
2  An Alabama state court convicted Billy Joe Mag...                   1

In [6]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2478 entries, 0 to 2477
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID                  2478 non-null   object
 1   first_party         2478 non-null   object
 2   second_party        2478 non-null   object
 3   facts               2478 non-null   object
 4   first_party_winner  2478 non-null   int64
dtypes: int64(1), object(4)
memory usage: 96.9+ KB

In [7]:
train.describe(include='all')

,ID,first_party,second_party,facts,first_party_winner
count,2478,2478,2478,2478,2478.000000
unique,2478,2110,1974,2478,NaN
top,TRAIN_0000,United States,United States,"On June 27, 1962, Phil St. Amant, a candidate ...",NaN
freq,1,154,240,1,NaN
mean,NaN,NaN,NaN,NaN,0.665456
std,NaN,NaN,NaN,NaN,0.471926
min,NaN,NaN,NaN,NaN,0.000000
25%,NaN,NaN,NaN,NaN,0.000000
50%,NaN,NaN,NaN,NaN,1.000000
75%,NaN,NaN,NaN,NaN,1.000000
max,NaN,NaN,NaN,NaN,1.000000

In [8]:
train.isnull().sum()

ID                    0
first_party           0
second_party          0
facts                 0
first_party_winner    0
dtype: int64